<% if @errors.present? %>
    <%= @errors%>
  <% end %>
<% post.comments.each do |com| %>
    <p>
      <% class_name =   com.spam ? 'warn_spam' : 'nostyle' %>
      <div class = "<%= class_name%> "><%= com.description%></div>
      <div><%= image_tag com.user.images.first.attachment.url(:thumb) if com.user.images.present? %></div>
      <%=com.user.name%> : <%= com.created_at.strftime("%d-%b-%y at %l:%M")%><br />
      <% if user_signed_in? && com.user == current_user%>
        <%= link_to 'Destroy', [post,com], method: :delete, data: { confirm: 'Are you sure?' } %>
      <%end%>
      <%= link_to 'Mark Spam',mark_spam_post_comment_path(post,com), method: :get, remote: true %>
  </p>
<% end %>
<% if user_signed_in? %>
  <%= form_for [post, post.comments.build] , remote: true do |f| %>
    <p>
      <div>
        <%= f.label :description, "Comment Description" %><br />
        <%= f.text_area :description %>
        <%= f.hidden_field :commented_by, value: current_user.id%>
      </div>
    </p>
    <p>
      <%= f.submit "Add Comment" %>
    </p>
  <% end %>
<% end %>