<% if @errors.present? %>
    <%= @errors%>
  <% end %>
<% post.comments.each do |com| %>
  <p> <%= com.description%><br />
      <%=com.user.name%> : <%= com.created_at.strftime("%d-%b-%y at %l:%M")%><br />
      <% if user_signed_in? && com.user == current_user%>
        <%= link_to 'Destroy', [post,com], method: :delete, data: { confirm: 'Are you sure?' } %>
      <%end%>
  </p>
<% end %>
<%= form_for [post, post.comments.build] , remote: true do |f| %>
  <p>
    <div>
      <%= f.label :description, "Comment Description" %><br />
      <%= f.text_area :description %>
      <%= f.hidden_field :commented_by, value: current_user.id%>
    </div>
  </p>
  <p>
    <%= f.submit "Add Comment" %>
  </p>
<% end %>