<%= form_for @post, :html => { :multipart => true } do |f| %>
  <% if @errors.present? %>
    <div><%= @errors %></div>
  <% end %>

  <div>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
    <%= f.hidden_field :author_id, value: current_user.id%>
  </div>
  <div>
    Upload Image
    <%= f.fields_for :images, 2.times {@post.images.build} do |ph| %>
      <%= ph.file_field :attachment %>
    <% end%>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>