<h1>Blog AnyThing..!!</h1>

<% @posts.each do |post| %>
  <h2><%= link_to post.title, post_path(post.to_param) %></h2>
  <%if post.images.present? %>
    <p>
      <%= image_tag post.images.first.attachment.url(:medium) %>
    </p>
  <% end %>
  <p>
    <%= post.description %>
  </p>
  <p><%= image_tag post.user.images.first.attachment.url(:thumb) if post.user.images.present? %>-<%= post.user.name%></p>
<% end %>
<br>
<%= link_to 'New Post', new_post_path %>