<h1>
  <%= @post.title %>
</h1>

<p>
  <%= @post.description %>
</p>
<%if @post.images.present? %>
  <p>
    <%= image_tag @post.images.first.attachment.url(:medium) %>
  </p>
<% end %>

<h2>Comments</h2>

<div id ="addcmnt">
  <%= render :partial => 'comments/comment_contents', :locals => {:post => @post} %>
</div>
<p>
  <% if user_signed_in? && @post.user == current_user %>
    <%= link_to 'Edit', edit_post_path(@post) %>
    <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' }%>
  <% end %>
  <%= link_to 'Back', posts_path %>
</p>